* {
  margin: 0;
  padding: 0;
}

.content {
  width: 2000px;
  height: 1000px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pokemon {
  width: 30vh;
  height: 30vh;
}

.pokemon2 {
  width: 30vh;
  height: 30vh;
}

.btn {
  display: flex;
  justify-content: center;
}

.hp {
  color: rgb(0, 0, 0);
}

img {
  filter: drop-shadow(8px 8px 10px black);
}
